.sheulder-form{
    text-align: center;
    font-size: 19px;
    font-weight: bold;
    margin-top: 40px;
}

.circle {
    width: 20px;
    height: 20px;
    background-color: transparent;
    border-radius: 50%;
    border: 1px solid #CECECE;
    display: inline-block;
    cursor: pointer; 

    &.crossed{
        background-color: #CECECE;
    }
}