.nav{
    width:460px;
    display: flex;
    .item {
        margin-right: 45px;
        width: 200px;
        padding: 10px;
        a{
            text-decoration: none;
            color:black;
            font-size: 20px;
        }
    }
    .active{
        border-bottom:3px solid #FF7075;
        padding: 10px;
        font-weight: bold;
    }
}
